services:
  adguardhome:
    image: adguard/adguardhome
    container_name: adguardhome
    hostname: adguardhome
    volumes:
      - ${ADGUARD_WORK_FOLDER:-./work}:/opt/adguardhome/work
      - ${ADGUARD_CONFIG_FOLDER:-./config}:/opt/adguardhome/conf
    restart: unless-stopped
    networks:
      net:

include:
  - path: ${PORT_CONFIG_FILE}
  - path: ${NETWORK_CONFIG_FILE}